        /* Style for the clock container */
        .clock-container {
            width: 200px;
            height: 200px;
            /* border: 5px solid #333; */
            border-radius: 50%;
            position: relative;
            background-image: url('/img/clockwork.png'); /* Set the path to your background image */
            background-size: cover; /* Adjust the background size as needed */
        }

        /* Style for the clock hands */
        .clock-hand {
            position: absolute;
            width: 50%;
            top: 50%;
            transform-origin: 100%;
            transform: translateY(0) rotate(90deg);
        }
        .hour-hand {
            width: 100%; /* Set the width of the image */
            height: auto; /* Maintain aspect ratio */
        }