        /* Style for the clock container */
        .clock-container {
            background-image: url('./img/clockwork.png');
            background-size: cover;
            width: 100px;
            height: 100px;
            border: 2px solid #333;
            border-radius: 50%;
            position: relative;
        }

        /* Style for the clock hands */
        .clock-hand {
            position: absolute;
            width: 50%;
            top: 50%;
            transform-origin: 100%;
            transform: translateY(-50%) rotate(90deg);
        }
        .hour-hand {
            width: 100%; /* Set the width of the image */
            height: auto; /* Maintain aspect ratio */
        }